/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  /* padding:3em; */
}

.header {
  background: rgba(5, 41, 24, 0.91);
  height: 60px;
}

#headers .logo h1 {
  font-size: 26px;
  margin: 0;
  padding: 15px 0;
  line-height: 1;
  font-weight: 600;
  color:rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

#headers .logo h1 a,
#headers .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}



#headers .logo img {
  padding: 0;
  margin-top: 5px;
  max-height: 50px;

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
  white-space: nowrap;
  transition: 0.3s;
}
.blog-contents{
  background: url('../img/shs/kiwihug-zGZYQQVmXw0-unsplash.jpg');
  padding:2em
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  color: #101c36;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}


.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #07642f;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  
  .navbar ul {
    display: none;
  }
 
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(15, 16, 16, 0);
  transition: 0.3s;
  z-index: 999;
  
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;

}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fcfcfc;
  overflow-y: auto;
  transition: 0.3s;
  
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  
  color:black
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
 
  color:black
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  color:black
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e9e9e9;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}




/* parallax */

.div-parallax{
  color: #ffff;
  padding-top: 9em;
  background: #000;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
  ),
  url('../img/images2/main.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
 
}

.parallax-content{
  padding: 0px 0 200px 0;
  font-weight: 1000;
}
.parallax-content h1{
  font-family: sans-serif;
  font-weight: bold;
}
.parallax-content p{
  padding-top: 20px;
  font-family:'arial';
  font-size:x-large;
  font-weight:normal;  
}

@media only screen and (max-width: 991px) {
.div-parallax{
  color: #ffff;
  padding-top: 4em;
  background: #000;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
  ),
  url('../img/images2/main.jpg');
  height: 270px;
  background-attachment: fixed;
  background-position:top;
  background-size:contain;
  margin-top: 3.5em;
  background-repeat: no-repeat;
 
}.parallax-content{
padding: 0px 0 200px 0;
font-weight: 1000;
}
.parallax-content h1{
font-family: sans-serif;
font-weight: bold;
}
.parallax-content p{
padding-top: 10px;
font-family:'arial';
font-size:larger;
font-weight:normal;  
}
}





.historyMain{
  padding-bottom: 100px;
}
.heading{
padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  margin: 20px auto;
}
.heading .container{
  border-left: 5px solid #003416;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.heading h1{
  font-size: 45px;
  font-weight: 200;
  position: relative;
  font-family:serif;
}


.container{
  width: 90%;
  z-index: 1;
}


.history{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.history-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.history-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  z-index: 0;
}
.history-image:hover img{
  transform: scale(1.2);
}
.content{
  flex: 1;
}
.content h2{
  font-size: 28px;
  margin-bottom: 15px;
  color: #003416;
}
.content p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  font-family: sans-serif;
}
.content .read-more{
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #065627;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}
.content .read-more:hover{
  background-color: #188b48;
}


.ms{
  /* padding-top: 20px; */
  min-height: 90vh;
  background-color: #fff;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container2 .box1{
  position: relative;
  width: 320px;
  height: 360px;
  background: #fff;
  padding: 100px 40px 60px;
  text-align: center;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}
.container2 .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
 
}
.container2 .box1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #003416;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.container2 .box1:hover:before{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.container2 .box1 h2{
  font-size: 2em;
  font-weight: 800;
  z-index: 1;
  opacity: 0.5;
  transition: 0.5s;
}
.container2 .box1 p{
  color: #fff;
  visibility: hidden;
  font-weight: 800;
}
.container2 .box1 .p2{
color: #fff;
visibility: hidden;
font-weight: 800;
}
.container2 .box1 li{
  color: #fff;
  visibility: hidden;
}
.container2 .box1:hover h2{
  opacity: 1;
  color: #fff;
  transform: translateY(-150px);
}
.container2 .box1:hover p{
  font-weight: 800;
  color:#9E9E9E;
  z-index: 1;
  transform: translateY(-70px);
  visibility: visible;
  transition: 0.8s;
}
.container2 .box1:hover .p2{
font-weight: 800;
color:#9E9E9E;
z-index: 1;
transform: translateY(-140px);
visibility: visible;
transition: 0.8s;
}
.container2 .box1:hover li{
  color:#9E9E9E;
  z-index: 1;
  transform: translateY(-140px);
  visibility: visible;
  transition: 0.8s;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
position: fixed;
visibility: hidden;
opacity: 0;
right: 15px;
bottom: 15px;
z-index: 996;
background: #5d5d5d;
width: 40px;
height: 40px;
border-radius: 50px;
transition: all 0.4s;
}

.back-to-top i {
font-size: 28px;
color: #fff;
line-height: 0;
}

.back-to-top:hover {
background: #3687c1;
color: #fff;
}

.back-to-top.active {
visibility: visible;
opacity: 1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-color:#e6e6e6;
padding: 2rem 0 2.5rem 0;
}

.footer .fc{
color: #2c2c2c;
font-size: 35px;
font-family: 'poppins';
padding-top: 5px;
margin-bottom: none;
font-weight: semi-bold;
}
.footer p{
color: #3f3f3f;
font-size: 15px;
}

.footer h3 {
font-size: 18px;
margin-bottom: 30px;
color: #282828;
}

.footer ul li {
margin-bottom: 10px;
}

.footer a {
color: #393939;
}

.footer .copyright {
margin-bottom: 0px;
}

.footer .copyright,
.footer .credits {
font-size: 14px;
}

.social a {
display: inline-block;
width: 50px;
height: 50px;
border-radius: 50%;
background: #f8f9fa;
position: relative;
text-align: center;
transition: 0.3s background ease;
color: #0d1e2d;
line-height: 0;
}

.social a span {
display: inline-block;
left: 50%;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
}

.social a:hover {
color: #fff;
background: #0e6e4c;
}

.social a i {
line-height: 0;
}
@media (max-width: 768px) {
.footer  {
  text-align: center;
}
}

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem; } }


@media screen and (min-width:770px) and (max-width:990){
  .heading{
      padding: 0px 20px;
      padding-top: 5em;
  }
  .heading h2{
      font-size: 30px;
  }
  .heading p{
      font-size: 17px;
      margin-bottom: 0px;
  }
  .container{
      padding: 0px;
  }
  .history{
      padding: 25px;
      flex-direction: column;
  }
  .history-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .history-image img{
      max-width: 100%;
      height: auto;
      display: block;
      transition: 0.5s ease;
      z-index: 0;
  }
  .history-image:hover img{
      transform: scale(1.2);
  }
  .history .content p{
      padding: 0px;
      font-size: 16px;
  }
  .history .read-more{
      font-size: 16px;
  }
  .container2{

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
 
  }
  .box1{
      margin-bottom: 20px;
      padding-bottom: 50px;
      padding-right: 20px;
      width: 20px;
  }
}


@media screen and (max-width: 768px){
  .heading{
      padding: 0px 20px;
      padding-top: 5em;
  }
  .heading h2{
      font-size: 30px;
  }
  .heading p{
      font-size: 17px;
      margin-bottom: 0px;
  }
  .container{
      padding: 0px;
  }
  .history{
      padding: 25px;
      flex-direction: column;
  }
  .history-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .history-image img{
      max-width: 100%;
      height: auto;
      display: block;
      transition: 0.5s ease;
      z-index: 0;
  }
  .history-image:hover img{
      transform: scale(1.2);
  }
  .history .content p{
      padding: 0px;
      font-size: 16px;
  }
  .history .read-more{
      font-size: 16px;
  }
  .container2{
      width: 1100px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
 
  }
  .container2 .box1{
      margin-bottom: 20px;
      padding-bottom: 50px;
     
  }

}